 body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-color: #dff7f2
 }

 header {
     background: #0b8c74;
     padding: 15px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 18px;
     position: sticky;
     width: 100%;
     top: 0;
     z-index: 16;
 }

 .navbar {
     margin-right: 100px;
 }

 .logo {
     font-size: 32px;
     font-weight: bold;
     color: #a7fff9;
     letter-spacing: 1px;
 }


 nav a {
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     margin-left: 35px;
 }

 nav a:hover {
     text-decoration: underline;
 }



 .container {
     max-width: 1000px;
     margin: 40px auto;
     padding: 20px;
 }

 h2 {
     color: #0b8c74;
     text-align: center;
 }

 .medicine-list {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 20px;
     margin-top: 30px;
 }

 .card {
     background: white;
     padding: 20px;
     border-radius: 12px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     text-align: center;
 }

 .card img {
     width: 120px;
     height: 120px;
     object-fit: cover;
     border-radius: 8px;
 }

 .card h3 {
     margin-top: 12px;
     color: #0b8c74;
 }

 .card p {
     font-size: 15px;
 }

 .price {
     font-weight: bold;
     margin-top: 8px;
 }

 footer {
     background: #0b8c74;
     color: white;
     padding: 50px 0 20px;
     margin-top: 40px;
 }

 .footer-container {
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .footer-col {
     width: 23%;
     min-width: 200px;
     margin-bottom: 20px;
 }

 .footer-col h3,
 .footer-col h4 {
     margin-bottom: 15px;
     font-size: 22px;
     color: white;
 }

 .footer-col p {
     line-height: 1.6;
     opacity: 0.8;
 }

 footer-col ul {
     list-style: none;
     padding: 0;
 }

 .footer-col ul li {
     margin: 8px 0;
 }

 .footer-col ul li a {
     color: white;
     text-decoration: none;
     opacity: 0.8;
     transition: 0.3s;
 }

 .footer-col ul li a:hover {
     color: #0b8c74;
     opacity: 1;
 }

 .footer-bottom {
     text-align: center;
     padding: 15px 0;
     border-top: 1px solid white;
     margin-top: 20px;
     font-size: 14px;
     opacity: 0.7;
 }